<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/index.css">
</head>
<body>
  <form method="post" action="/api/auth/signup">
<input type="text" name="name" placeholder="name">
<input type="text" name="username" placeholder="e.g. abc@gmail.com">
<input type="text" name="password" placeholder="e.g. abc@gmail.com">
<input type="text" name="conformpassword" placeholder="e.g. abc@gmail.com">
<input type="text" name="gander" placeholder="e.g. abc@gmail.com">
<button type="submit">Submit the Data</button>
  </form>
</body>
</html>